.nav-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: #ffffff;
}

.left-nav-container {
  display: flex;
  justify-self: start;
}

.mid-nav-container {
  display: flex;
  justify-content: center;
  align-items: center;

  > * {
    flex: 1 1 100%;
    text-align: center;
  }
}

.right-nav-container {
  justify-self: end;
}

.btn {
  background: none;
  border: none;
  cursor: pointer;
}